.contactDiv {
    position: fixed;
    top: 25%;
    left: 35%;
    height: 26rem;
    width: 32rem;
    border: 2px solid white;
    background-color: #04344b;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;
    padding: 2rem;
    border-radius: 15px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 1rem;
}

.inputDivName {
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

.inputDivEmail {
    display: flex;
    align-items: baseline;
    gap: 2.3rem;
}

.inputDivMessage {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

input[type="text"], input[type="email"], textarea {
    background-color: white;
}

.submitButton {
    background-color: white;
    margin-left: 6rem;
    height: 2rem;
    width: 6rem;
}